# Mini Reto 003 del grupo Python para Trading

## Guardar un dataframe por trozos en varios ficheros excel

Partimos del dataframe `data` que se obtiene con el código recogido más abajo, que tiene más de 23.000 lineas.

El reto consiste en conseguir **trocearlo** en varios dataframe de **2.000 lineas como máximo** y guardar cada trozo en un **archivo excel**, con un nombre que **identifique el periodo de fechas** que contiene cada fichero.

### Esos si, ¡ usando **una sola linea de código** !

In [2]:
import yfinance as yf

data = yf.download("^GSPC")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1927-12-30,17.660000,17.660000,17.660000,17.660000,17.660000,0
1928-01-03,17.760000,17.760000,17.760000,17.760000,17.760000,0
1928-01-04,17.719999,17.719999,17.719999,17.719999,17.719999,0
1928-01-05,17.549999,17.549999,17.549999,17.549999,17.549999,0
1928-01-06,17.660000,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
2020-10-05,3367.270020,3409.570068,3367.270020,3408.600098,3408.600098,3686920000
2020-10-06,3408.739990,3431.560059,3354.540039,3360.969971,3360.969971,4443380000
2020-10-07,3384.560059,3426.260010,3384.560059,3419.439941,3419.439941,3807830000
2020-10-08,3434.280029,3447.280029,3428.149902,3446.830078,3446.830078,3856190000
2020-10-09,3459.669922,3469.050049,3458.070068,3462.250000,3462.250000,557678828

## Solución propuesta por Paduel.

In [14]:
data.groupby((data.reset_index().index/2000).astype(int)).apply(
    lambda x: x.to_excel(f"data_{x.index[0].date()}_{x.index[-1].date()}.xlsx"))

Empty DataFrame
Columns: []
Index: []