# Mini Reto 003 del grupo Python para Trading

## Guardar un dataframe por trozos en varios ficheros excel

Partimos del dataframe `data` que se obtiene con el código recogido más abajo, que tiene más de 23.000 lineas.

El reto consiste en conseguir **trocearlo** en varios dataframe de **2.000 lineas como máximo** y guardar cada trozo en un **archivo excel**, con un nombre que **identifique el periodo de fechas** que contiene cada fichero.

### Esos si, ¡ usando **una sola linea de código** !

In [4]:
import yfinance as yf

data = yf.download("^GSPC")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1927-12-30,17.660000,17.660000,17.660000,17.660000,17.660000,0
1928-01-03,17.760000,17.760000,17.760000,17.760000,17.760000,0
1928-01-04,17.719999,17.719999,17.719999,17.719999,17.719999,0
1928-01-05,17.549999,17.549999,17.549999,17.549999,17.549999,0
1928-01-06,17.660000,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
2020-10-07,3384.560059,3426.260010,3384.560059,3419.439941,3419.439941,3807830000
2020-10-08,3434.280029,3447.280029,3428.149902,3446.830078,3446.830078,3856190000
2020-10-09,3459.669922,3482.340088,3458.070068,3477.139893,3477.139893,3939060000
2020-10-12,3500.020020,3549.850098,3499.610107,3534.219971,3534.219971,3428970000
2020-10-13,3534.010010,3534.010010,3500.860107,3511.929932,3511.929932,2357875709

## Solución propuesta.

In [1]:
import pandas as pd
import numpy as np
import os

Creamos la carpeta que contendrá los ficheros de salida y fijamos el número rows por fichero

In [18]:
os.mkdir('output')
rows = 2000

In [14]:
[d.to_excel('output/file_%s.xlsx'%str(d.index[-1]).split(' ')[0]) for d in np.split(data, range(0,len(data),rows), axis=0)[1:rows]]

[None, None, None, None, None, None, None, None, None, None, None, None]

In [17]:
os.listdir('output')

['file_1936-01-09.xlsx',
 'file_1999-09-10.xlsx',
 'file_1967-11-30.xlsx',
 'file_1952-01-09.xlsx',
 'file_2015-08-05.xlsx',
 'file_2020-10-13.xlsx',
 'file_1959-12-21.xlsx',
 'file_2007-08-24.xlsx',
 'file_1983-11-10.xlsx',
 'file_1991-10-10.xlsx',
 'file_1944-01-04.xlsx',
 'file_1975-12-12.xlsx']

## Explicamos cada paso

Vamos a crear un dataframe mas pequeño para entender mejor los pasos

In [19]:
rows = 5
df = pd.DataFrame(np.random.rand(20, 6), columns=list('abcdef'))
df

           a         b         c         d         e         f
0   0.903924  0.502616  0.479529  0.458375  0.010546  0.702908
1   0.813443  0.365414  0.751693  0.295974  0.236121  0.320756
2   0.691853  0.284053  0.261059  0.854738  0.392931  0.610816
3   0.530919  0.503741  0.215673  0.545410  0.474038  0.343720
4   0.252314  0.881623  0.694723  0.100367  0.427066  0.589648
5   0.887950  0.614652  0.976138  0.970069  0.163613  0.662565
6   0.809760  0.379884  0.018494  0.990659  0.535823  0.156429
7   0.748008  0.390855  0.389059  0.772295  0.839966  0.059791
8   0.634057  0.969500  0.766988  0.356578  0.935749  0.937540
9   0.688235  0.817827  0.489359  0.710954  0.270269  0.558462
10  0.157213  0.537005  0.257155  0.115297  0.956153  0.536380
11  0.554200  0.454199  0.765217  0.658172  0.362784  0.192097
12  0.382051  0.346604  0.280948  0.183672  0.939005  0.033151
13  0.824807  0.618935  0.444044  0.032812  0.372816  0.356902
14  0.507802  0.113862  0.587687  0.680879  0.033229  0.402355
15  0.717150  0.623810  0.804915  0.595841  0.046800  0.561043
16  0.108780  0.568981  0.052125  0.877228  0.999418  0.108649
17  0.659578  0.357640  0.686427  0.529923  0.929906  0.304573
18  0.059190  0.943554  0.330552  0.472950  0.138912  0.871687
19  0.412079  0.181364  0.384332  0.345169  0.436131  0.702110

Dividimos en `rows` el dataframe. La función split nos devuelve una lista con los dataframe a partir del elemento 1.

In [20]:
np.split(df, range(0,len(df),rows), axis=0)

[Empty DataFrame
 Columns: [a, b, c, d, e, f]
 Index: [],
           a         b         c         d         e         f
 0  0.903924  0.502616  0.479529  0.458375  0.010546  0.702908
 1  0.813443  0.365414  0.751693  0.295974  0.236121  0.320756
 2  0.691853  0.284053  0.261059  0.854738  0.392931  0.610816
 3  0.530919  0.503741  0.215673  0.545410  0.474038  0.343720
 4  0.252314  0.881623  0.694723  0.100367  0.427066  0.589648,
           a         b         c         d         e         f
 5  0.887950  0.614652  0.976138  0.970069  0.163613  0.662565
 6  0.809760  0.379884  0.018494  0.990659  0.535823  0.156429
 7  0.748008  0.390855  0.389059  0.772295  0.839966  0.059791
 8  0.634057  0.969500  0.766988  0.356578  0.935749  0.937540
 9  0.688235  0.817827  0.489359  0.710954  0.270269  0.558462,
            a         b         c         d         e         f
 10  0.157213  0.537005  0.257155  0.115297  0.956153  0.536380
 11  0.554200  0.454199  0.765217  0.658172  0.362784  0.192097
 12  0.382051  0.346604  0.280948  0.183672  0.939005  0.033151
 13  0.824807  0.618935  0.444044  0.032812  0.372816  0.356902
 14  0.507802  0.113862  0.587687  0.680879  0.033229  0.402355,
            a         b         c         d         e         f
 15  0.717150  0.623810  0.804915  0.595841  0.046800  0.561043
 16  0.108780  0.568981  0.052125  0.877228  0.999418  0.108649
 17  0.659578  0.357640  0.686427  0.529923  0.929906  0.304573
 18  0.059190  0.943554  0.330552  0.472950  0.138912  0.871687
 19  0.412079  0.181364  0.384332  0.345169  0.436131  0.702110]

El elemento 0 es información sobre la división realizada. Por lo que habría que trabajar con `[1:rows]` para quitar el primer elemento.

In [21]:
np.split(df, range(0,len(df),rows), axis=0)[1:rows]

[          a         b         c         d         e         f
 0  0.903924  0.502616  0.479529  0.458375  0.010546  0.702908
 1  0.813443  0.365414  0.751693  0.295974  0.236121  0.320756
 2  0.691853  0.284053  0.261059  0.854738  0.392931  0.610816
 3  0.530919  0.503741  0.215673  0.545410  0.474038  0.343720
 4  0.252314  0.881623  0.694723  0.100367  0.427066  0.589648,
           a         b         c         d         e         f
 5  0.887950  0.614652  0.976138  0.970069  0.163613  0.662565
 6  0.809760  0.379884  0.018494  0.990659  0.535823  0.156429
 7  0.748008  0.390855  0.389059  0.772295  0.839966  0.059791
 8  0.634057  0.969500  0.766988  0.356578  0.935749  0.937540
 9  0.688235  0.817827  0.489359  0.710954  0.270269  0.558462,
            a         b         c         d         e         f
 10  0.157213  0.537005  0.257155  0.115297  0.956153  0.536380
 11  0.554200  0.454199  0.765217  0.658172  0.362784  0.192097
 12  0.382051  0.346604  0.280948  0.183672  0.939005  0.033151
 13  0.824807  0.618935  0.444044  0.032812  0.372816  0.356902
 14  0.507802  0.113862  0.587687  0.680879  0.033229  0.402355,
            a         b         c         d         e         f
 15  0.717150  0.623810  0.804915  0.595841  0.046800  0.561043
 16  0.108780  0.568981  0.052125  0.877228  0.999418  0.108649
 17  0.659578  0.357640  0.686427  0.529923  0.929906  0.304573
 18  0.059190  0.943554  0.330552  0.472950  0.138912  0.871687
 19  0.412079  0.181364  0.384332  0.345169  0.436131  0.702110]

Usaremos el indice del último elemento de cada grupo para enumerar cada fichero.

In [22]:
np.split(df, range(0,len(df),rows), axis=0)[2].index[-1]

9

Como lo que obtenemos de `.split()` es una lista de DataFrame, y hay que hacerlo en una línea, vamos a usar la funcionalidad de Python para crear una lista de valores, a partir de iterar una lista:

```python
[x for x in listavalores]
```

Dónde x sería cada dataframe dividido en 2000 rows.

Para obtener la fecha que le da nombre, en este caso, basta con usar el numero del indice, pero el ejemplo del enunciado, como el indice es una fecha, se usa el `.split` de `str()` para separar la fecha de la hora y coger solo la fecha.

In [25]:
[d.to_excel('output/file_%s.xlsx'%str(d.index[-1])) for d in np.split(df, range(0,len(df),rows), axis=0)[1:rows]]

[None, None, None, None]

En varias líneas, sería esto:
```python
for d in np.split(df, range(0,len(df),rows), axis=0)[1:rows]:
    d.to_excel('output/file_%03i.xlsx'%(df.index.get_loc(d.index[-1])/rows))
```

In [26]:
os.listdir('output')

['file_4.xlsx', 'file_19.xlsx', 'file_14.xlsx', 'file_9.xlsx']